body {
    background-color: rgba(11, 53, 90, 0.918);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    direction: rtl;
}

/* background style */
#upperbox {
    display: grid;
    top: 0;
    position: sticky;
    background-color: rgb(39 54 68 / 26%);
    color: rgba(116, 189, 200, 0.47);
    padding:5vh;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.687);
    box-shadow: rgb(226 237 254 / 41%) 0px 10px 12px -10px;
}

/*scroll animation */
    .scrolled {
        
        animation: opacity30 0.5s ease-in-out;
    }
/* support */
#support {
    display: block;
}
#support h1{
    display: flex; 
    justify-content: center;
    color: black;
    text-shadow: rgb(49 42 55 / 43%) -3px 5px 1px;
    rotate: 12%;
}


#top_nav {
    z-index: 100;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    height: 5vh;
    width: 100%;
    gap: 3vh;
}

#buttom_nav {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    height: 5vh;
    width: 100%;
    gap: 6vh;
    justify-content: center;
    opacity: 85%;
}

#home_button {
    z-index: 100;
}


#top_nav a , #buttom_nav a{
    display: flex;
    color: rgb(215, 238, 241);
    font-size: 16px;
    text-decoration: none;
}

.login-button {
    width: 50px;
    z-index: 100;
    border: 2px solid hsla(180, 3%, 93%, 0.6);
    border-radius: 8px;
    text-align: center;
    place-content: center;
}
#contact {
    z-index: 100;
    align-items: center;
    margin-right: auto;
    padding-left: 33px;
}

.courses_box {
    color: black;
    height: 100vh;
    width: 40vh;
    display: flex;
    justify-content: center;
    align-self: center;
}

 /* key frames */

@keyframes opacity30{
        0%{
           opacity: 1;
        }
        50%{
            opacity: 0.5;
        }
        100%{
            opacity: 0;
        }
        }